.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.flex-container div{
    
    height:100%;
   
}

.container{
    height:960px;
    width:960px;
    border:solid;
}
.container div{
    font-size: 10px;
}

.hovered{
    background-color: aqua;
}
